RewriteEngine On

# Bỏ qua nếu là file hoặc thư mục thật
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Friendly URL cho Bài viết
RewriteRule ^bai-viet$ index.php?page=post [L,QSA]
RewriteRule ^bai-viet/([a-zA-Z0-9-]+)$ index.php?page=post_detail&slug=$1 [L,QSA]
